.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 10px;
}

.product-title {
  font-size: 1rem;
  margin-bottom: 5px;
}

.product-price {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.product-description {
  margin-bottom: 20px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.view-detail-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  float: left;
  margin-bottom: 10px;
}

.view-detail-button:hover {
  background-color: #0056b3;
}
